img {
    width: 100%;
}

.slider img {
    object-fit: cover;
    object-position: top;
    height: 500px;
}

.icon {
    width: 20px;
}

.support {
    cursor: pointer;
}

.courses img {
    width: 200px;
    height: 200px;
    margin: auto;
}

.card {
    transition: all 1s;
}

.card:hover {
    transform: scale(1.1);
}

.disc {
    border-radius: 10px;
    background: #f9f9f9;
    box-shadow: 6px 6px 18px #a8a8a8,
        -6px -6px 18px #ffffff;
        
}
.star{
    width: 25px;
}
.info{
    width: 15px;

}
.contactform{
    max-width: 500px;
}

footer .d-flex .icon {
    width: 35px;
    border-radius: 5px;
    background-color: #b9b6ff6b;
    cursor: pointer;
}

footer {
    background-color: #F5F5F5;
}

footer ul {
    list-style: ">";
}

footer ul li {
    padding-left: 10px;
}